* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 24px;
  }
}
header {
  position: fixed;
  height: 7vh;
  width: 100%;
  background: linear-gradient(to right, #94ffff, #6a68ff);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
}
header .logo {
  position: relative;
  height: 2.8125rem;
  left: -2.8333333333rem;
}
header ul {
  position: relative;
  width: 35vw;
  height: 100%;
  left: 5.3333333333rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  color: white;
  user-select: none;
}
header ul li {
  display: flex;
  width: 6.7708333333rem;
  line-height: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
header ul li:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.mainContent {
  position: relative;
  top: 7vh;
  height: 455vh;
}
.mainContent .description,
.mainContent .productList,
.mainContent .service,
.mainContent .applications {
  position: relative;
  height: 93vh;
}
.mainContent .description {
  background-color: #6a68ff;
  color: #dcfff3;
}
.mainContent .description .focus {
  position: absolute;
  left: 6vw;
  top: 25vh;
  font-size: 2.0833333333rem;
}
.mainContent .description .focus .title {
  margin-bottom: 5vh;
  font-size: 2.5rem;
}
.mainContent .description .mainTitle {
  position: absolute;
  left: 42vw;
  top: 35vh;
  font-size: 3.75rem;
}
.mainContent .description .scrollTip {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 1vh;
  left: 38vw;
}
.mainContent .description .scrollTip .text {
  font-size: 1.6666666667rem;
}
.mainContent .description .scrollTip .arrow {
  font-size: 1.3333333333rem;
}
.mainContent .productList {
  background-color: aqua;
}
.mainContent .service {
  background-color: #8e00b9;
}
.mainContent .applications {
  background-color: #0c00ad;
}
.mainContent .contact {
  position: relative;
  height: 83vh;
  background-color: #0ead00;
}

footer {
  position: relative;
  background-color: #56c1c6;
  height: 10vh;
  top: 7vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}