* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  overflow: hidden;
}

header {
  position: fixed;
  height: 7vh;
  width: 100%;
  background: linear-gradient(to right, #94ffff, #6a68ff);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
}
header .logo {
  position: relative;
  height: 2.8125rem;
  left: -2.8333333333rem;
}
header .unfoldButton {
  display: none;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 5vh;
  width: 5vh;
  left: 1.125rem;
  border-radius: 0.1666666667rem;
  border-width: 0.0833333333rem;
  border-style: solid;
  border-color: white;
}
header .unfoldButton div {
  width: 3.8vh;
  height: 0.5vh;
  background-color: white;
}
header ul {
  position: relative;
  left: 5.3333333333rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  color: white;
  user-select: none;
}
header ul .underline {
  border-bottom: white 5px solid;
}
header ul li {
  display: flex;
  width: 7.2916666667rem;
  line-height: 100%;
  box-sizing: border-box;
  height: 7vh;
  align-items: center;
  justify-content: center;
}
header ul li:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.mainContent {
  position: relative;
  top: 7vh;
  height: 455vh;
}
.mainContent .description,
.mainContent .productList,
.mainContent .service,
.mainContent .applications {
  position: relative;
  height: 93vh;
}
.mainContent .description {
  background-color: #6a68ff;
  color: #dcfff3;
}
.mainContent .description .focus {
  position: absolute;
  left: 6vw;
  top: 25vh;
  font-size: 2.0833333333rem;
}
.mainContent .description .focus .title {
  margin-bottom: 5vh;
  font-size: 2.5rem;
}
.mainContent .description .mainTitle {
  position: absolute;
  left: 42vw;
  top: 35vh;
  font-size: 3.75rem;
}
.mainContent .description .scrollTip {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 1vh;
  left: 38vw;
}
.mainContent .description .scrollTip .text {
  font-size: 1.6666666667rem;
}
.mainContent .description .scrollTip .arrow {
  font-size: 1.3333333333rem;
}
.mainContent .productList {
  background-color: aqua;
}
.mainContent .service {
  background-color: #8e00b9;
}
.mainContent .applications {
  background-color: #0c00ad;
}
.mainContent .contact {
  position: relative;
  height: 83vh;
  background-color: #8EC5FC;
  background-image: linear-gradient(45deg, #8EC5FC 32%, #d8c3fc 100%);
}
.mainContent .contact .submitInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.mainContent .contact .submitInfo .title {
  position: relative;
  font-size: 1.6666666667rem;
  text-align: center;
  color: white;
  text-shadow: black 1px 2px 1px;
  margin-top: 6vh;
}
.mainContent .contact .submitInfo form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
  margin-top: 5vh;
}
.mainContent .contact .submitInfo form div .errorTip {
  display: none;
  font-size: 1rem;
  color: red;
}
.mainContent .contact .submitInfo form input,
.mainContent .contact .submitInfo form textarea {
  position: relative;
  width: 31.25rem;
  height: 2.7083333333rem;
  line-height: 2.7083333333rem;
  outline: none;
  border: rgba(255, 255, 255, 0.45) 1px solid;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.25);
  transition: width 0.5s;
}
.mainContent .contact .submitInfo form input:hover,
.mainContent .contact .submitInfo form textarea:hover {
  background-color: rgba(255, 255, 255, 0.45);
}
.mainContent .contact .submitInfo form input:focus,
.mainContent .contact .submitInfo form textarea:focus {
  width: 36.4583333333rem;
  background-color: white;
  border-color: white;
  border-width: 1.5px;
  border-style: solid;
}
.mainContent .contact .submitInfo form input {
  text-align: center;
  font-size: 1.1666666667rem;
}
.mainContent .contact .submitInfo form textarea {
  resize: none;
  height: 8.75rem;
  line-height: 1.3333333333rem;
  font-size: 1rem;
}
.mainContent .contact .submitInfo form .code {
  width: 31.25rem;
}
.mainContent .contact .submitInfo form .code .mainInput {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.mainContent .contact .submitInfo form .code .mainInput .showCode {
  width: 4.1666666667rem;
  height: 2.0833333333rem;
  line-height: 2.0833333333rem;
  font-size: 1.25rem;
  text-decoration: line-through;
  text-align: center;
  background-color: #6a68ff;
  color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  user-select: none;
}
.mainContent .contact .submitInfo form .code .mainInput .showCode:hover {
  cursor: pointer;
}
.mainContent .contact .submitInfo form .code .mainInput input {
  width: 6.25rem;
  height: 2.0833333333rem;
  line-height: 2.0833333333rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: width 0.5s;
}
.mainContent .contact .submitInfo form .code .mainInput input:focus {
  width: 9.375rem;
}
.mainContent .contact .submitInfo .button {
  position: relative;
  top: 1vh;
  line-height: 2.8125rem;
  height: 2.8125rem;
  width: 16.6666666667rem;
  font-size: 1.2083333333rem;
  background-color: #0093E9;
  border-radius: 5px;
  color: white;
  text-align: center;
  user-select: none;
  text-shadow: black 1px 1px 2px;
  transition: background-color 0.7s;
}
.mainContent .contact .submitInfo .button:hover {
  background-color: #49bcff;
  cursor: pointer;
}
.mainContent .contact .submitInfo .requestTip {
  display: none;
  position: relative;
  top: 18px;
}

footer {
  position: relative;
  background-color: #56c1c6;
  height: 10vh;
  top: 7vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 24px;
  }

  header .logo {
    position: relative;
    height: 2.0833333333rem;
    left: -1.3333333333rem;
  }
  header .unfoldButton {
    display: flex;
  }
  header ul {
    position: absolute;
    background-color: rgba(0, 68, 255, 0.65);
    top: 7vh;
    left: 0;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header ul li {
    width: 100%;
  }

  .mainContent .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6a68ff;
    color: #dcfff3;
  }
  .mainContent .description .focus {
    position: relative;
    left: 0;
    top: 0;
  }
  .mainContent .description .focus .title {
    position: relative;
    margin-bottom: 1vh;
    left: 1.5vw;
    font-size: 1.7708333333rem;
  }
  .mainContent .description .focus ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3333333333rem;
  }
  .mainContent .description .mainTitle {
    position: relative;
    left: 0;
    top: -12vh;
    font-size: 2.5rem;
  }
  .mainContent .description .scrollTip {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 24vh;
  }
  .mainContent .description .scrollTip .text {
    font-size: 0.9375rem;
  }
  .mainContent .description .scrollTip .arrow {
    font-size: 0.6666666667rem;
  }
  .mainContent .contact .submitInfo .title {
    margin-top: 2.5vh;
    font-size: 1rem;
  }
  .mainContent .contact .submitInfo form {
    position: relative;
    display: flex;
    height: 50vh;
    margin-top: 3vh;
  }
  .mainContent .contact .submitInfo form div .errorTip {
    font-size: 0.5833333333rem;
    line-height: 0.5833333333rem;
    color: red;
  }
  .mainContent .contact .submitInfo form input,
.mainContent .contact .submitInfo form textarea {
    width: 10.4166666667rem;
    height: 1.5625rem;
    line-height: 1.5625rem;
  }
  .mainContent .contact .submitInfo form input:focus,
.mainContent .contact .submitInfo form textarea:focus {
    width: 14.5833333333rem;
  }
  .mainContent .contact .submitInfo form input {
    font-size: 1rem;
  }
  .mainContent .contact .submitInfo form textarea {
    height: 7.5rem;
    line-height: 1rem;
    font-size: 0.75rem;
  }
  .mainContent .contact .submitInfo form .code {
    position: relative;
    width: 10.4166666667rem;
    top: 6px;
  }
  .mainContent .contact .submitInfo form .code .mainInput {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .mainContent .contact .submitInfo form .code .mainInput .showCode {
    width: 2.0833333333rem;
    height: 1.25rem;
    line-height: 1.25rem;
    font-size: 0.75rem;
    text-decoration: line-through;
    text-align: center;
    background-color: #6a68ff;
    color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .mainContent .contact .submitInfo form .code .mainInput input {
    width: 4.1666666667rem;
    height: 1.25rem;
    line-height: 1.25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: width 0.5s;
  }
  .mainContent .contact .submitInfo form .code .mainInput input:focus {
    width: 6.25rem;
  }
  .mainContent .contact .submitInfo .button {
    top: 24px;
    line-height: 1.875rem;
    height: 1.875rem;
    width: 10.4166666667rem;
    font-size: 1rem;
  }
  .mainContent .contact .submitInfo .button:active {
    color: #0093E9;
  }
  .mainContent .contact .submitInfo .requestTip {
    top: 24px;
    font-size: 0.75rem;
  }
}