<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>合工</title>
	<link rel="stylesheet" href="/css/index.css" />
</head>

<body>
	<header>
		<img class="logo" src="/img/logo.png">
		<ul>
			<li>Products</li>
			<li>Services</li>
			<li>Applications</li>
			<li>About us</li>
		</ul>
	</header>
	<div class="mainContent">
		<div class="description">
			<div class="focus">
				<div class="title">Focused on</div>
				<ul>
					<li>Stable</li>
					<li>energy-saving</li>
					<li>efficient</li>
					<li>Products</li>
				</ul>
			</div>
			<div class="mainTitle">HG Fluid</div>
			<div class="scrollTip">
				<div class="text">Drop down to learn more.</div>
				<div class="arrow">︾</div>
			</div>
		</div>
		<div class="productList"></div>
	</div>
	<footer>
		<div class="copyright">Copyright xxx</div>
	</footer>

	<script src="/js/index.js"></script>
</body>

</html>