<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>HG FLUID</title>
	<link rel="stylesheet" href="/css/index.css" />
</head>

<body>
	<header>
		<img class="logo" src="/img/logo.png">
		<ul>
			<li>Products</li>
			<li>Services</li>
			<li>Applications</li>
			<li>About us</li>
		</ul>
		<div class="unfoldButton">
			<div></div>
			<div></div>
			<div></div>
		</div>
	</header>
	<div class="mainContent">
		<div class="description">
			<div class="mainTitle">HG Fluid</div>
			<div class="focus">
				<div class="title">Focused on</div>
				<ul>
					<li>Stable</li>
					<li>energy-saving</li>
					<li>efficient</li>
					<li>Products</li>
				</ul>
			</div>
			<div class="scrollTip">
				<div class="text">Drop down to learn more.</div>
				<div class="arrow">︾</div>
			</div>
		</div>
		<div class="productList">

		</div>
		<div class="service">

		</div>
		<div class="applications">

		</div>
		<div class="contact">
			<div class="submitInfo">
				<div class="title">Fill in your contact information and requirements so that we can contact you!</div>
				<form action="/submit" method="post">
					<input type="text" name="name" placeholder="Please input your full name." />
					<input type="text" name="mail" placeholder="Please input your email." />
					<textarea rows="5" cols="50" name="demand" placeholder="Please input your demand."></textarea>
					<button type="submit">submit!</button>
				</form>
			</div>

		</div>
	</div>
	<footer>
		<div class="copyright">Copyright xxx</div>
	</footer>

	<script src="/js/index.js"></script>
</body>

</html>