<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>合工</title>
	<link rel="stylesheet" href="../static/css/index.css" />
</head>

<body>
	<header>
		<img class="logo" src="../static/img/logo.png">
		<ul>
			<li>Products</li>
			<li>Services</li>
			<li>Applications</li>
			<li>About us</li>
		</ul>
	</header>
	<div class="mainContent">
		<div class="slideShow"></div>
		<div class="productList"></div>
	</div>
	<footer>
		<div class="copyright">Copyright xxx</div>
	</footer>

	<script src="../static/js/index.js"></script>
</body>

</html>